#get
  .toolbar
    %h1== Fight #{params[:id]}
    %a.back{:href => "#"} Back
  %ul.rounded
    %li
      %a{:href => "#"}= @fight.query_1
      %small.counter=n @fight.count_1
    %li
      %a{:href => "#"}= @fight.query_2
      %small.counter=n @fight.count_2
  %h3.centered Winner
  %p.info.huge= @fight.winner

-# %script{ :src => "/js/fight.js", :type => "text/javascript", :charset => "utf-8" }
-# :javascript
-#   addFight("#{params[:id]}", ["#{@fight[0]}", "#{@fight[1]}", "#{@fight[2]}", "#{@fight[3]}"]);